/* CSS reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

/* Generics */

body{
    font-family: 'Rubik Mono One', sans-serif;
}

h1{
    font-size: 56px;
}

/* Utils */

.container{
    max-width: 1200;
    margin: 0 auto;
}

.page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgc-red{
    background-color: #FF0000;

}

.bgc-green{
    background-color: #008000;
}

.bgc-yellow{
    background-color: #FFFF00;
}

.yellow{
    color: #FFFF00;
}

.green{
    color: #008000;
}

.content{
    max-width: 50%;
    text-align: center;
}