/* CSS reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

/* Generics */

html{
    overflow-y: hidden;
}

body{
    font-family: 'Rubik Mono One', sans-serif;
}

h1{
    font-size: 48px;
    padding: 0px 100px;
    padding-bottom: 20px;
}

a{
    text-decoration: none;
    color: #000;

}

/* Utils */

.container{
    max-width: 1200;
    margin: 0 auto;
}

.page{
    height: 100vh;
    position: relative;
}

.bgc-red{
    background-color: #FF0000;

}

.bgc-green{
    background-color: #008000;
}

.bgc-yellow{
    background-color: #FFFF00;
}

.yellow{
    color: #FFFF00;
}

.green{
    color: #008000;
}

.content{
    max-width: 50%; 
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    text-align: center;
}

/* menu bar */
.menu{
    position: fixed;
    top: 0;
    right: 10px;
    
}

.menu a{
    background-color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    line-height: 50px; 
    margin: 0 15px;
}