/* CSS reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

/* Generics */

body{
    font-family: sans-serif;
}

/* Utils */

.container{
    max-width: 1200;
    margin: 0 auto;
}

.page{
    height: 100vh;
}

.first-page{
    background-color: #FF0000;

}

.second-page{
    background-color: #008000;
}

.third-page{
    background-color: #FFFF00;
}